<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sockerio chat</title>
  <link rel="stylesheet" href="/css/socket.css" media="screen" title="no title">
</head>
<body>
  {{{body}}}
  <script src="/socket.io/socket.io.js"></script>
  {{{_sections.script}}}
</body>
</html>
