
<div class = 'rooms'>
  {{#each rooms}}
    {{#if active}}
      <span class = 'room room_{{name}} active' data-room = '{{name}}'>{{name}}</span>
    {{else}}
      <span class = 'room room_{{name}}' data-room = '{{name}}'>{{name}}</span>
    {{/if}}
  {{/each}}
</div>
<div class="messages">
  {{#each rooms}}
    {{#if active}}
      <ul class='message-list message_{{name}}'></ul>
    {{else}}
      <ul class='message-list hidden message_{{name}}'></ul>
    {{/if}}
  {{/each}}
</div>
<div class="form">
  <input id="m" autocomplete="off" /><button id = 'send-message'>Send</button>
</div>

{{#section 'script'}}
<script type="text/javascript" src="/js/socket.js"></script>
{{/section}}
